.button {
  font-weight: 500;
  padding: 14px 32px;
  border-radius: 32px;
  background-color: var(--blue);
  cursor: pointer;
  transition: background-color, transform .2s ease-in-out;
  text-align: center;
}

.button:hover {
  transform: scale(1.05);
  background-color: hsla(220, 80%, 56%, .7);
}
