.button {
  box-sizing: border-box;
  display: inline-block;
  text-decoration: none;
  color: var(--white);
  font-weight: 500;
  padding: 14px 32px;
  border-radius: 32px;
  background-color: var(--blue);
  border: 3px solid var(--blue);
  cursor: pointer;
  transition: background-color, color, transform .2s ease-in-out;
  text-align: center;
}

.button:hover {
  transform: scale(1.05);
  background-color: var(--white);
  color: var(--blue);
}
