.calc {
  background-color: hsla(218, 69%, 99%, 1.00);
  border-radius: 16px;
  padding: 62px 48px 48px;
  box-shadow: 0 20px 200px 0 hsla(261, 68%, 28%, 0.2);
  transition: box-shadow .2s ease-in-out;
}

.calc:hover {
  box-shadow: 0 20px 200px 0 hsla(261, 68%, 28%, 0.4);
}

.calc__form {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 0 0 100px 0;
  column-gap: 48px;
}

.calc__input-element {
  height: 40px;
  width: 100%;
  font-size: 20px;
  line-height: 1.5;
  color: var(--dark-bg);
  border: none;
  border-bottom: 1px solid var(--dark-bg);
  background: hsla(218, 69%, 99%, 1.00);
}

.calc__input::placeholder {
  color: var(--dark-bg);
}

.calc__select {
  max-width: 200px;
}

.calc__button {
  font-size: 18px;
  line-height: 1.5;
}

.calc__heading {
  color: var(--blue);
  margin: 0 0 16px 0;
  padding: 0;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 500;
  letter-spacing: 0.04em;
  text-transform: uppercase;
}

.calc__output {
  margin: 0 0 4px 0;
  padding: 0;
  color: var(--dark-bg);
  font-weight: 700;
  font-size: 32px;
  line-height: 1.5;
  letter-spacing: 0.04em;
}

.calc__output-accent {
  color: var(--blue);
}

.calc__disclaimer {
  color: var(--neutral-grey);
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 1.75;
  letter-spacing: 0.01em;
}
