.header {
  background-color: hsla(240, 54%, 11%, 1.00);
}

.header__container {
  margin: 0 auto;
  max-width: 1200px;
  min-width: 320px;
}

.header__logo {
  width: 134px;
  height: 40px;
  object-fit: contain;
}

@media screen and (max-width: 1439px) {
  .header__container {
    padding: 0 120px;
  }
}
