.header {
  background-color: var(--dark-bg);
}

.header__logo {
  width: 134px;
  height: 40px;
  object-fit: contain;
}

@media screen and (max-width: 1439px) {
  .header__container {
    padding: 0 120px;
  }
}
