.lead {
  background-color: var(--dark-bg);
}

.lead__content {
  display: flex;
  column-gap: 8px;
  align-items: center;
}

.lead__text {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
  align-items: flex-start;
}

.lead__offer {
  margin: 0;
  display: inline-block;
  padding: 4px 16px 4px 4px;
  font-size: 16px;
  line-height: 28px;
  font-weight: 400;
  color: var(--white);
  background-color: hsla(0, 0%, 100%, 0.10);
  -webkit-border-radius: 32px;
  -moz-border-radius: 32px;
  border-radius: 32px;
  letter-spacing: 0.01em;
}

.lead__offer_accent {
  display: inline-block;
  margin-right: 16px;
  padding: 4px 16px;
  color: var(--dark-bg);
  background-color: var(--white);
  font-weight: 500;
  line-height: 1.5;
  border-radius: 32px;
  letter-spacing: 0.01em;
  text-transform: uppercase;
}

.lead__offer .lead__offer_accent {
  transition: transform .2s ease-in-out;
}

.lead__offer:hover .lead__offer_accent {
  transform: scale(1.2);
}

.lead__title {
  margin: 0;
  padding: 0;
  font-size: 64px;
  line-height: 1.19;
  font-weight: 700;
  color: var(--white);
}

.lead__subtitle {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.75;
  letter-spacing: 0.01em;
  color: var(--light-grey);
}

.lead__button {
  margin-top: 8px;
  font-size: 18px;
  line-height: 1.5;
}

.lead__illustration {
  width: 604px;
  height: 586px;
  transition: .5s transform ease-in-out;
}

.lead__illustration:hover {
  transform: scale(1.05);
}
