.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 120px;
}

.navigation__items {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
}

.navigation__item {
  margin-left: 32px;
  
  font-size: 16px;
  font-weight: 400;
  line-height: 1.75;
  color: hsla(0, 0%, 100%, 1.00);
  transition: .2s all;
  cursor: pointer;
}

.navigation__item:first-of-type {
  margin-left: 0;
}


.navigation__item_heavy {
  font-weight: 500;
  margin-left: 56px;
  position: relative;
}

.navigation__item_heavy::after {
  content: "";
  position: absolute;
  top: 0;
  right: -24px;
  height: 24px;
  border-right: 1px solid hsla(0, 0%, 95%, .3);
}

.navigation__item_button {
  margin-left: 48px;
  font-weight: 500;
  padding: 14px 32px;
  border-radius: 32px;
  background-color: hsla(220, 80%, 56%, 1.00);
  cursor: pointer;
  transition: .2s ease background-color, color;
}

.navigation__item_button:hover {
  background-color: hsla(220, 80%, 56%, .7);
  color: hsla(0, 0%, 100%, .7)
}
