.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 120px;
}

.navigation__items {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
}

.navigation__item {
  margin-left: 32px;
  
  font-size: 16px;
  font-weight: 400;
  line-height: 1.75;
  color: var(--white);
  cursor: pointer;
}

.navigation__item:first-of-type {
  margin-left: 0;
}


.navigation__item_heavy {
  font-weight: 500;
  margin-left: 56px;
  position: relative;
}

.navigation__item_heavy::after {
  content: "";
  position: absolute;
  top: 0;
  right: -24px;
  height: 24px;
  border-right: 1px solid hsla(0, 0%, 100%, .3);
}

.navigation__item_button {
  margin-left: 48px;
}
