.page {
  min-height: 100vh;
  font-family: "Rubik", Helvetica, Arial, sans-serif;
  color: var(--white);
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
  background-color: var(--white);
}

.page__header {
  padding: 60px 0 0 0;
}

.page__lead {
  padding: 50px 0 100px 0;
}

.page__stats {
  padding: 100px 0 115px;
}

.page__earnings {
  padding: 100px 0 0 0;
}

.page__trade {
  padding: 316px 0 100px;
}
