.trade {
  background: linear-gradient(180deg, hsla(220, 27%, 98%, 1) 0%, hsla(228, 100%, 99%, 1) 100%);
}

.trade__title {
  color: var(--dark-bg);
  text-align: center;
  margin-bottom: 64px;
}

.trade__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  row-gap: 32px;
  justify-content: center;
  -webkit-column-gap: 45px;
  -moz-column-gap: 45px;
  column-gap: 45px;
}

.trade__item {
  display: flex;
  box-sizing: border-box;
  max-width: 370px;
  flex-direction: column;
  align-items: center;
  background-color: var(--white);
  padding: 48px 24px;
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  border-radius: 16px;
  box-shadow: 0 20px 100px 0 hsla(261, 68%, 28%, 0.2);
  transition: background-color .2s ease-in-out;
}

.trade__item:hover {
  background-color: var(--purple);
}

.trade__icon {
  width: 80px;
  height: 80px;
  margin-bottom: 48px;
}

.trade__name {
  margin: 0;
  padding: 0;
  font-size: 32px;
  line-height: 1.5;
  text-align: center;
  color: var(--dark-bg);
}

.trade__item:hover .trade__name {
  color: var(--white);
}

.trade__ticker {
  margin-left: 8px;
  display: inline-block;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.5;
  text-align: center;
  text-transform: uppercase;
  color: var(--neutral-grey);
}

.trade__item:hover .trade__ticker {
  color: hsla(0, 0%, 100%, .7);
}

.trade__description {
  margin: 0 0 25px 0;
  padding: 0;
  font-size: 16px;
  line-height: 1.75;
  text-align: center;
  letter-spacing: 0.01em;
  color: var(--neutral-grey);
}

.trade__item:hover .trade__description {
  color: var(--white);
}

.trade__button {
  position: relative;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  box-sizing: border-box;
  text-decoration: none;
  font-size: 18px;
  color: var(--white);
  border-radius: 32px;
  width: 64px;
  transition: width .2s ease-in-out;
  overflow: hidden;
}

.trade__item:hover .trade__button {
  width: 203px;
  background-color: var(--blue);
  color: var(--white);
}

.trade__button-text {
  position: absolute;
  visibility: hidden;
  top: 50%;
  left: 24px;
  transform: translateY(-50%);
  transition: all .2s ease-in-out;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.5;
}

.trade__item:hover .trade__button-text {
  visibility: visible;
  opacity: 1;
}

.trade__button-icon {
  display: block;
  background: var(--white) url("../img/arrow.svg") no-repeat center center;
  border: 1px solid hsla(261, 88%, 23%, .2);
  border-radius: 50%;
  width: 64px;
  height: 64px;
  transition: transform .2s ease-in-out;
}

.trade__item:hover .trade__button-icon {
  border: 1px solid var(--white);
  transform: scale(.5);
}