/*Colors*/
:root {
  --dark-bg: hsla(240, 54%, 11%, 1.00);
  --white: hsla(0, 0%, 100%, 1);
  --light-grey: hsla(0, 0%, 88%, 1.00);
  --neutral-grey: hsla(0, 0%, 51%, 1);
  
  --blue: hsla(220, 80%, 56%, 1.00);
  
}
